{% extends 'appBlog/base.html' %}

{% block titulo %}
<div class="site-heading">
    <h1>Sobre TurismoBlog</h1>
    <span class="subheading">Conoce más sobre esta página</span>
</div>
{% endblock titulo %}
{% block contenido %}
<div class="container border d-flex justify-content-center">
    {%load static%}
    <img src="https://cdn.dribbble.com/users/1250165/screenshots/3221760/media/6e4bb91fa60c8333184e526ace7cd9ea.gif" alt="MDN"></a>
    <div class="container">
        <h1>TurismoBlog</h1>
        <p>Es un lugar donde puedes publicar los lugares que has visitado y los que te gustaría visitar.</p>
        <br>
        <br>
    <div>
</div>
{% endblock contenido %}