{% extends 'appDjango/base.html' %}
{% block titulo %}Actualizar Mascotas{% endblock %}
{% block contenido %}
            <div class="main__contenedor-principal__botones">
                <form action="/mis-mascotas/actualizar/{{ mascota.id }}" method="post"> 
                    {% csrf_token %}
                    {{ form }}
                    <input type="submit" value="Enviar" id="boton-enviar">
                </form>
                <h2 style="color:green">{{msg_exito}}</h2>
                <a href="/mis-mascotas/" id="boton-volver">Volver a la lista de mascotas</a>
            </div>
        </div>
    </main>
{% endblock %}